coursework/bin/main/player0.txt
coursework/bin/main/player1.txt
coursework/bin/main/player2.txt
coursework/bin/main/player3.txt
coursework/src/main/resources/player0.txt
coursework/src/main/resources/player1.txt
coursework/src/main/resources/player2.txt
coursework/src/main/resources/player3.txt
coursework/src/main/resources/test.txt
coursework/bin/main/test.txt
coursework/src/main/resources/test.txt
